* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Calibri',sans-serif;
}

.wrapper {
    width: 1400px;
    margin: auto;
    position: relative;
}


nav {
    width: 150%;
    margin: auto;
    display: flex;
    line-height: 100px;
    background: #FFFFFF;
    
}

nav ul {
    list-style-type: none;
    margin: 100;
    padding: 100;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 200px;
    margin-right: 150px;
}


h2 {
    font-family: 'Calibri';
    font-weight: 1000;
    font-size: 40px;
    margin-bottom: 10px;
    color: #364f6b;
    width: 100%;
    line-height: 40px;
}



a.tbl-pink {
    background: #28ABB9;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #3f72af;
    text-decoration: none;
}

p {
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
}




